.btn{
	width: 120px;
	height: 50px;
	margin-top: 20px;
	border: none;
	
	color: white;
	font-size: 18px;
}
.p{
	background-color:  #08a1f9;
}
.y{
	background-color: #ff8a00;
}
.r{
	background-color: #f34141;
}
.sm{
	width: 80px;
	height: 40px;
	
}
.td{
	display: block;
	
	border: none;
	padding: 10px 20px;
	width: 100px;
	background-color: transparent;
	border-bottom: 2px solid black;
}
.tar{
	display: block;
	
	border: none;
	padding: 2px 4px;
	width: 250px;
	height: 80px;
	background-color: transparent;
	
}
.container{
	width: 600px;
	height: 400px;
	padding-top: 60px;
	margin: 30px 0px;
	border-top: 7px solid #08a9f9;
	box-shadow: 0px 0px 10px;
	border-radius: 10px;
}
.txt{
	display: block;
	margin: 25px;
	border: none;
	padding: 10px 20px;
	width: 250px;
	background-color: transparent;
	border-bottom: 2px solid black;
}
.sml{
	padding: 10px 20px;
	width: 166px;
	margin: 25px 25px;
}
.n{
	margin: 25px 0px;
	margin-right: 20px
}
.container label{
	font-size: 25px;
	color: #08a9f9;
}
p{
	margin-bottom: 20px;
}
.list{
	width: 200px;
	height: 70%;
	top: 170px;
	
	overflow: auto;
	position: fixed;
}
.status{
	margin-left: 200px;
	padding: 20px;
}
a{
	text-decoration: none;
}
.tab{
	display: table;
}
.row{
	display: table-row;
}
.col{
	display: table-cell;
	
}
.data{
	width: 300px;
	padding: 20px;
	text-align: left;
	color: white;
}
.textarea{
	width:630px;
	height: 90px;
	padding:10px;
}
.content{
	padding:30px;
}

/* File Uploade */

/*****************************************
  upload button styles
******************************************/


.file-upload__label {
  display: block;
  padding: 0.7em 1em;
  color: #fff;
  background: #ff8a00;
  border-radius: .4em;
  transition: background .3s;
  
  &:hover {
     cursor: pointer;
     background: #000;
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

/*****************************************
 design styles
******************************************/




/* Table */

#myInput {
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;

}

#myTable {
  border-collapse: collapse;
  width: 1000px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
#myTable th{
	background-color: #616161;
	color: white
}
